* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #02162b;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  margin: 0 auto 1rem auto;
  color: #333;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #007bff;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;

}

.resultados {
  margin-top: 1.5rem;
}

.contrato {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.orgao-entidade {
  font-size: 2rem;
  
}

.inicio-vig {
  color: #0056b3;
  font-weight: 700;
}

.fw-4 {
  font-size: 2rem;
}

.fim-vig {
  font-weight: 700;
  color:tomato
}

.bi {
  color:#007bff;
}

.tot-valor {
  font-size: 1.25rem;
  color: #027027
}